@import url("../fonts/fonts.css");

*{
    font-family: SourceSansPro;
    color: #222222;
}

.container.start{
    height: 1016px;
}

#top{
    background-color: #fcdb00;
}

.top_navigation{
    padding-top: 72px;
}

.toggler-burger{
    position: absolute;
    padding-left: 0px;
}

.menu_icon{
    font-size: 26px;
}

.logo_cont, .social_networks_icons{
    height: 53px;
}

.logo_cont{
    padding-bottom: 10px;
}

.logo{
    width: 51px;
    height: 51px;
}

.logo_name{
    font-size: 35px;
    font-weight: 700;
    padding-left: 11px;
}

.social_networks_icons>div{
    padding-left: 16px;
}

.social_networks_icons div:first-child{
    padding-right: 8px;
}

.s-icon{
    font-size: 26px;
}

.social_google{
    padding-bottom: 7px;
}

.start_page{
    padding-top: 287px;
    padding-left: 247px;
    padding-right: 256px;
}

h1{
    font-size: 57px;
    font-weight: 700;
    margin-bottom: 21px;
}

.start_text{
    font-size: 24px;
    font-weight: 400;
    line-height: 114%;
    margin-bottom: 49px;
}

.start_button{
    width: 303px;
    height: 67px;
    border: 2px solid #000000;
    background-color: #fcdb00;
    font-size: 26px;
    font-weight: 700;
}

.arrow{
    padding-top: 213px;
    padding-bottom: 63px;
}

#features{
    padding-top: 124px;
}

.features_description{
    margin-bottom: 103px;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    color: #010101;
}

h2.features_heading, h2.pricing{
    margin-bottom: 16px;
}

.main_text {
    margin-bottom: 0px;
    padding-left: 124px;
    padding-right: 128px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.34px;
    color: #898989;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 8px;
}

.text_features, .period{
    font-size: 19px;
    font-weight: 400;
    color: #898989;
    line-height: 130%;
}

.feature_row{
    margin-bottom: 83px;
}

#price{
    margin-top: 251px;
    margin-bottom: 49px;
}

.price_row{
    margin-bottom: 90px;
}

.trial_cont{
    width: 57%;
}

.h_price{
    font-size: 28px;
    padding-top: 26px;
    margin-bottom: 0px;
}

.price_text{
    font-size: 17px;
    font-weight: 400;
    line-height: 28.34px;
    color: #898989;
    padding-top: 14px;
    margin-bottom: 35px;
}

.price{
    font-size: 38px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 0px;
}

.line{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.period{
    margin-bottom: 41px;
}

.price_button{
    width: 166px;
    height: 57px;
    border: 2px solid #000000;
    background-color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    color: #010101;
}

#works{
    margin-top: 220px;
    margin-bottom: 21px;
}

.h_works, .h_team, .h_stats{
    margin-bottom: 15px;
}

.h_works{
    padding-right: 22px;
}

.works_row{
    margin-bottom: 81px;
}

.type_work{
    margin-top: 15px;
    margin-bottom: 0px;
    padding-right: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #010101;
}

.category{
    margin-bottom: 70px;
    font-size: 19px;
    font-weight: 400;
    color: #898989;
}

#team{
    margin-top: 221px;
}

.team_text{
    margin-bottom: 89px;
}

.name{
    margin-top: 41px;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 400;
    color: #010101;
}

.function{
    margin-bottom: 7px;
    font-size: 19px;
    font-weight: 400;
    color: #898989;
}

.description{
    margin-bottom: 11px;
    font-size: 17px;
    font-weight: 400;
    line-height: 131%;
    color: #313841;
}

.social-icon{
    margin-left: 11px;
    font-size: 19px;
}

.social-icon:first-child{
    margin-right: 5px;
}

#stats{
    margin-top: 207px;
    margin-bottom: 40px;
}

.stat_row{
    margin-bottom: 0px;
}

.stats_text{
    margin-bottom: 61px;
}

.achievement_icons{
    height: 61px;
    margin-bottom: 4px;
}

.amount{
    font-size: 29px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 0px;
}

.nomin{
    font-size: 17px;
    font-weight: 400;
    color: #898989;
    margin-bottom: 80px;
}

.john_quote{
    margin-top: 20px;
}

.l-quotes{
    padding-top: 4px;
}

.r-quotes{
    padding-bottom: 2px;
}

.name_John{
    margin-top: 11px;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 400;
    color: #010101;
}

.John_text{
    padding-left: 0px;
    padding-right: 0px;
}

#communication{
    margin-top: 243px;
}

.h-communication{
    margin-bottom: 16px;
}

.comm_text{
    margin-bottom: 55px;
}

.address{
    padding-left: 180px;

}

.contact_item{
    margin-top: 16px;
    font-size: 29px;
    font-weight: 400;
    color: 010101;
}

.item_address{
    margin-bottom: 5px;
}

.item_email{
    padding-right: 15px;
}

.phone{
    padding-left: 12px;
}

.contact_address{
    font-size: 17px;
    font-weight: 400;
    color: #898989;
    line-height: 107%;
    height: 13px;
    
}

.address_row{
    margin-bottom: 64px;
}

p>.email_input{
    margin-bottom: 14px;
}

p>.name_input,p>.message_input{
    margin-bottom: 11px;
}

.email_input, .name_input {
    height: 65px;
    width: 568px;
    padding-left: 16px;
    font-size: 19px;
}

.message_input{
    height: 245px;
    width: 568px;
    padding-left: 16px;
    font-size: 19px;
}

.button_submit{
    padding-right: 20px;
}

input[type=submit] {
    width: 200px;
    height: 60px;
    background-color: #000000;
    color: #fdfdfd;
    border: 0px;
    font-size: 19px;
    font-weight: 700;
}

.form_row{
    margin-bottom: 74px;
}

#footer{
    padding-top: 104px;
    background-color: #010101;
}

.h_footer{
    color: #ffffff;
    margin-bottom: 17px;
}

.footer_text{
    margin-bottom: 45px;
}

form.footer_form>input[type=email] {
    width: 706px;
    height: 60px;
    border: 0px;
    padding-left: 28px;
    font-size: 19px;
}

form.footer_form>input[type=submit] {
    background-color: #ffffff;
    color: #010101;
    width: 160px;
}

.footer_form_row{
    margin-bottom: 128px;
}

.footer_cont_row{
    padding-bottom: 319px;
    font-size: 19px;
    font-weight: 700;
    line-height: 133%;
}