@import url("../fonts/fonts.css");

*{
    font-family: SourceSansPro;
    color: #222222;
}

.container.start{
    height: 1013px;
}

#top{
    background-color: #fcdb00;
}

.top_navigation{
    padding-top: 69px;
}

.toggler-burger{
    position: absolute;
    padding-left: 0px;
}

.menu_icon{
    font-size: 26px;
}

.logo_cont, .social_networks_icons{
    height: 53px;
}

.logo_cont{
    padding-bottom: 10px;
}

.logo{
    width: 51px;
    height: 51px;
}

.logo_name{
    font-size: 35px;
    font-weight: 700;
    padding-left: 11px;
}

.social_networks_icons>div{
    padding-left: 16px;
}

.social_networks_icons div:first-child{
    padding-right: 8px;
}

.s-icon{
    font-size: 26px;
    transition: scale, 1s, .5s ease;
}

.social_google{
    padding-bottom: 7px;
}

.s-icon:hover{
    transform: scale(1.5, 1.5);
}

.start_page{
    padding-top: 287px;
    padding-left: 247px;
    padding-right: 256px;
}

h1{
    font-size: 57px;
    font-weight: 700;
    margin-bottom: 21px;
}

.start_text{
    font-size: 24px;
    font-weight: 400;
    line-height: 114%;
    margin-bottom: 49px;
}

.start_button{
    width: 303px;
    height: 67px;
    border: 2px solid #000000;
    background-color: #fcdb00;
    font-size: 26px;
    font-weight: 700;
}

button.start_button:hover{
    background-color: #000000;
    color: #fcdb00;
}

.arrow_icon{
    font-size: 44px;
    padding-top: 210px;
    padding-bottom: 63px;
}

#features{
    padding-top: 124px;
}

.features_description{
    margin-bottom: 103px;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    color: #010101;
}

h2.features_heading, h2.pricing{
    margin-bottom: 16px;
}

.main_text{
    margin-bottom: 0px;
    padding-left: 124px;
    padding-right: 128px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.34px;
    color: #898989;
}

.feature_icon_tablet{
    font-size: 47px;
    line-height: 118%;
}

.feature_icon_lemon{
    font-size: 50px;
    line-height: 118%;
}

.feature_icon_folder{
    font-size: 55px;
    line-height: 118%;
}

.feature_icon_envelope{
    font-size: 61px;
    line-height: 109%;
}

.feature_icon_bookmark{
    font-size: 53px;
    line-height: 118%;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 8px;
}

.text_features, .period{
    font-size: 19px;
    font-weight: 400;
    color: #898989;
    line-height: 130%;
}

.feature_row{
    margin-bottom: 83px;
}

#price{
    margin-top: 251px;
    margin-bottom: 49px;
}

.price_row{
    margin-bottom: 90px;
}

.trial_cont{
    width: 57%;
}

.h_price{
    font-size: 28px;
    padding-top: 26px;
    margin-bottom: 0px;
}

.price_text{
    font-size: 17px;
    font-weight: 400;
    line-height: 28.34px;
    color: #898989;
    padding-top: 14px;
    margin-bottom: 35px;
}

.price{
    font-size: 38px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 0px;
}

.line{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.period{
    margin-bottom: 41px;
}

.price_button{
    width: 166px;
    height: 57px;
    border: 2px solid #000000;
    background-color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    color: #010101;
}

button.price_button:hover{
    background-color: #010101;
    color: #ffffff;
}

#works{
    margin-top: 220px;
    margin-bottom: 21px;
}

.h_works, .h_team, .h_stats{
    margin-bottom: 15px;
}

.h_works{
    padding-right: 22px;
}

.works_row{
    margin-bottom: 81px;
}

.type_work{
    margin-top: 15px;
    margin-bottom: 0px;
    padding-right: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #010101;
}

.category{
    margin-bottom: 70px;
    font-size: 19px;
    font-weight: 400;
    color: #898989;
}

#team{
    margin-top: 221px;
}

.team_text{
    margin-bottom: 89px;
}

.name{
    margin-top: 41px;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 400;
    color: #010101;
}

.function{
    margin-bottom: 7px;
    font-size: 19px;
    font-weight: 400;
    color: #898989;
}

.description{
    margin-bottom: 11px;
    font-size: 17px;
    font-weight: 400;
    line-height: 131%;
    color: #313841;
}

.social-icon{
    margin-left: 11px;
    font-size: 19px;
}

.social-icon:first-child{
    margin-right: 5px;
}

#stats{
    margin-top: 207px;
    margin-bottom: 40px;
}

.stat_row{
    margin-bottom: 0px;
}

.stats_text{
    margin-bottom: 57px;
}

.achievement_icons{
    height: 61px;
    margin-bottom: 7px;
    font-size: 47px;
}

.users_icon{
    font-size: 55px;
}

.amount{
    font-size: 29px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 0px;
}

.nomin{
    font-size: 17px;
    font-weight: 400;
    color: #898989;
    margin-bottom: 80px;
}

.john_quote{
    margin-top: 20px;
}

.quotes path{
    color: #898989 !important;
}

.l-quotes{
    padding-top: 4px;
    font-size: 23px;
}

.r-quotes{
    font-size: 23px;
}

.name_John{
    margin-top: 11px;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 400;
    color: #010101;
}

.John_text{
    padding-left: 0px;
    padding-right: 0px;
}

#communication{
    margin-top: 243px;
}

.h-communication{
    margin-bottom: 16px;
}

.comm_text{
    margin-bottom: 55px;
}

#communication a:hover{
    text-decoration: none;
    font-weight: 700;
}

.address{
    padding-left: 180px;
}

.comm_icon{
    font-size: 24px;
}

.contact_item{
    margin-top: 6px;
    font-size: 29px;
    font-weight: 400;
    color: 010101;
}

.item_address{
    margin-bottom: 5px;
}

.item_email{
    padding-right: 15px;
}

.phone{
    padding-left: 12px;
}

.contact_address{
    font-size: 17px;
    font-weight: 400;
    color: #898989;
    line-height: 107%;
    height: 13px;
    
}

.address_row{
    margin-bottom: 64px;
}

p>.email_input{
    margin-bottom: 14px;
}

p>.name_input,p>.message_input{
    margin-bottom: 11px;
}

.email_input, .name_input {
    height: 65px;
    width: 568px;
    padding-left: 16px;
    font-size: 19px;
}

.message_text{
    height: 245px;
    width: 568px;
    padding-left: 16px;
    padding-top: 14px;
    font-size: 19px;
}

.button_submit{
    padding-right: 20px;
}

input[type=submit] {
    width: 200px;
    height: 60px;
    background-color: #000000;
    color: #fdfdfd;
    border: 0px;
    font-size: 19px;
    font-weight: 700;
}

p.button_submit>input[type=submit]:hover {
    background-color: #fdfdfd;
    border: 2px solid #000000;
    color: #000000;
}

.form_row{
    margin-bottom: 74px;
}

#footer{
    padding-top: 110px;
    background-color: #010101;
}

.h_footer{
    color: #ffffff;
    margin-bottom: 17px;
}

.footer_text{
    margin-bottom: 45px;
}

form.footer_form>input[type=email] {
    width: 706px;
    height: 60px;
    border: 0px;
    padding-left: 28px;
    font-size: 19px;
}

form.footer_form>input[type=submit] {
    background-color: #ffffff;
    color: #010101;
    width: 160px;
}

form.footer_form>input[type=submit]:hover{
    background-color: #010101;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.footer_form_row{
    margin-bottom: 128px;
}

.footer_cont_row{
    padding-bottom: 319px;
    font-size: 19px;
    font-weight: 700;
    line-height: 133%;
}

/* адаптив */

@media (max-width: 320px) {

    .top_navigation{
        flex-direction: column-reverse;
        padding-top: 15px;
    }

    .social_networks_icons{
        justify-content: flex-start !important;
    }

    .logo_cont{
        justify-content: flex-start !important;
    }

    .s-icon{
        font-size: 20px;
    }

    .social_google img{
        height: 20px;
    }

    .logo{
        width: 25px;
        height: 25px;
    }

    .logo_name{
        font-size: 25px;
    }

    .social_networks_icons div:first-child{
        padding-left: 0px;
    }

    .menu_icon{
        font-size: 20px;
    }

    .start_page{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 325px;
    }

    h1{
        font-size: 30px;
    }

    .start_text{
        font-size: 18px;
        line-height: 1;
    }

    .start_button {
        width: 200px;
        height: 44px;
        font-size: 18px;
    }

    .arrow_icon {
        padding-top: 100px;
    }

    .container.start {
        height: 895px;
    }

    #features {
        padding-top: 50px;
    }

    h2 {
        font-size: 28px;
    }

    .main_text{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 17px;
    }

    .features_description {
        margin-bottom: 65px;
    }

    .feature_icon_tablet,.feature_icon_lemon,.feature_icon_folder,.feature_icon_envelope,.feature_icon_bookmark{
        font-size: 35px;
        float: left;
    }

    .feature_icon img{
        height: 39px;
    }

    .text_feat_cont{
        padding-left: 20px;
    }

    h3 {
        font-size: 20px;
    }

    .text_features{
        font-size: 14px;
        margin-bottom: 25px;
    }

    .feature_row {
        margin-bottom: 10px;
    }

    #price {
        margin-top: 75px;
    }

    .price_row {
        margin-bottom: 60px;
    }

    .trial_row{
        flex-direction: column;
    }

    .trial_item{
        justify-content:center !important;
        margin-bottom: 95px;
    }

    .trial_image{
        height: 90px;
    }

    .price_text{
        line-height: 20px;
        margin-bottom: 20px;
    }

    .price{
        font-size: 28px;
    }

    .period {
        margin-bottom: 15px;
    }

    .price_button {
        width: 100px;
        height: 34px;
        font-size: 12px;
    }

    #works {
        margin-top: 45px;
    }

    .works_cont{
        width: 54%;
    }

    .works_cont img{
        height: 90px;
    }

    .type_work{
        font-size: 16px;
        padding-right: 0px;
    }

    .category{
        font-size: 15px;
    }

    #team {
        margin-top: 60px;
    }

    .team_text {
        margin-bottom: 60px;
    }

    .team_cont{
        margin-bottom: 30px;
    }

    .worker_photo img{
        width: 100px;
    }

    .name{
        font-size: 22px;
    }

    .function{
        font-size: 16px;
    }

    .description{
       font-size: 14px; 
    }

    .social-icon{
        font-size: 17px;
    }

    #stats {
        margin-top: 100px;
    }

    .achievement_icons{
        font-size: 30px;
    }

    .amount {
        font-size: 16px;
    }

    .nomin {
        font-size: 12px;
    }

    .achievement_icons{
        height: auto;
    }

    .nomin{
        margin-bottom: 55px;
    }

    .worker_photo_quote img{
        height: 120px;
    }

    .r-quotes{
        justify-content:start ;
    }

    #communication {
        margin-top: 110px;
    }

    .comm_icon {
        font-size: 22px;
    }

    .contact_item {
        font-size: 20px;
    }

    .contact_address {
        font-size: 10px;
    }

    .item_email {
        padding-right: 0px;
    }

    .email_input, .name_input {
        height: 55px;
        width: 100%;
        font-size: 16px;
    }

    .message_text {
        height: 130px;
        width: 100%;
        font-size: 16px;
    }

    .input[type=submit] {
        width: 190px;
        height: 50px;
        font-size: 17px;
    }

    #footer {
        padding-top: 60px;
    }

    form.footer_form>input[type=email] {
        width: 95%;
        margin-left: 7px;
        height: 55px;
        padding-left: 15px;
        font-size: 17px;
    }

    form.footer_form>input[type=submit] {
        width: 160px;
        margin-top: 15px;
        margin-left: 7px;
        height: 50px;
       
    }

    .footer_form_row {
        margin-bottom: 85px;
    }

    .footer_cont_row {
        font-size: 14px;
        padding-bottom: 73px;
    }

    .footer_item{
        margin-bottom: 15px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {

    .top_navigation{
        flex-direction: column-reverse;
        padding-top: 15px;
    }

    .social_networks_icons{
        justify-content: flex-start !important;
    }

    .logo_cont{
        justify-content: flex-start !important;
    }

    .s-icon{
        font-size: 20px;
    }

    .social_google img{
        height: 20px;
    }

    .logo{
        width: 25px;
        height: 25px;
    }

    .logo_name{
        font-size: 25px;
    }

    .social_networks_icons div:first-child{
        padding-left: 0px;
    }

    .menu_icon{
        font-size: 20px;
    }

    .start_page{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 325px;
    }

    h1{
        font-size: 30px;
    }

    .start_text{
        font-size: 18px;
        line-height: 1;
    }

    .start_button {
        width: 200px;
        height: 44px;
        font-size: 18px;
    }

    .arrow_icon {
        padding-top: 40%;
    }

    .container.start {
        height: 895px;
    }

    #features {
        padding-top: 50px;
    }

    h2 {
        font-size: 28px;
    }

    .main_text{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 17px;
    }

    .features_description {
        margin-bottom: 65px;
    }

    .feature_icon_tablet,.feature_icon_lemon,.feature_icon_folder,.feature_icon_envelope,.feature_icon_bookmark{
        font-size: 35px;
        margin-right: 10px;
    }

    .feature_icon{
        text-align: start !important;
    }

    .feature_icon img{
        height: 39px;
    }

    h3 {
        font-size: 20px;
    }

    .text_features{
        font-size: 14px;
        margin-bottom: 25px;
    }

    .feature_row {
        margin-bottom: 10px;
    }

    #price {
        margin-top: 75px;
    }

    .price_row {
        margin-bottom: 60px;
    }

    .trial_row{
        flex-direction: column;
    }

    .trial_item{
        justify-content:center !important;
        margin-bottom: 95px;
    }

    .trial_image{
        height: 90px;
    }

    .price_text{
        line-height: 20px;
        margin-bottom: 20px;
    }

    .price{
        font-size: 28px;
    }

    .period {
        margin-bottom: 15px;
    }

    .price_button {
        width: 100px;
        height: 34px;
        font-size: 12px;
    }

    #works {
        margin-top: 45px;
    }

    .works_cont{
        width: 54%;
    }

    .works_cont img{
        height: 90px;
    }

    .type_work{
        font-size: 16px;
        padding-right: 0px;
    }

    .category{
        font-size: 15px;
    }

    #team {
        margin-top: 60px;
    }

    .team_text {
        margin-bottom: 60px;
    }

    .team_cont{
        margin-bottom: 30px;
    }

    .worker_photo img{
        width: 100px;
    }

    .name{
        font-size: 22px;
    }

    .function{
        font-size: 16px;
    }

    .description{
       font-size: 14px; 
    }

    .social-icon{
        font-size: 17px;
    }

    #stats {
        margin-top: 100px;
    }

    .achievement_icons{
        font-size: 30px;
    }

    .amount {
        font-size: 16px;
    }

    .nomin {
        font-size: 12px;
    }

    .achievement_icons{
        height: auto;
    }

    .nomin{
        margin-bottom: 55px;
    }

    .worker_photo_quote img{
        height: 120px;
    }

    .r-quotes{
        justify-content:start ;
    }

    #communication {
        margin-top: 110px;
    }

    .comm_icon {
        font-size: 22px;
    }

    .contact_item {
        font-size: 20px;
    }

    .contact_address {
        font-size: 10px;
    }

    .item_email {
        padding-right: 0px;
    }

    .email_input, .name_input {
        height: 55px;
        width: 100%;
        font-size: 16px;
    }

    .message_text {
        height: 130px;
        width: 100%;
        font-size: 16px;
    }

    .input[type=submit] {
        width: 190px;
        height: 50px;
        font-size: 17px;
    }

    #footer {
        padding-top: 60px;
    }

    form.footer_form>input[type=email] {
        width: 95%;
        margin-left: 14px;
        height: 55px;
        padding-left: 15px;
        font-size: 17px;
    }

    form.footer_form>input[type=submit] {
        width: 160px;
        margin-top: 15px;
        margin-left: 14px;
        height: 50px;
    }

    .footer_form_row {
        margin-bottom: 85px;
    }

    .footer_cont_row {
        font-size: 14px;
        padding-bottom: 73px;
    }

    .footer_item{
        margin-bottom: 15px;
    }
}


@media (min-width: 481px) and (max-width: 576px) {

    .top_navigation{
        flex-direction: column-reverse;
        padding-top: 15px;
    }

    .social_networks_icons{
        justify-content: flex-start !important;
    }

    .logo_cont{
        justify-content: flex-start !important;
    }

    .s-icon{
        font-size: 25px;
    }

    .social_google img{
        height: 25px;
    }

    .logo{
        width: 30px;
        height: 30px;
    }

    .logo_name{
        font-size: 30px;
    }

    .social_networks_icons div:first-child{
        padding-left: 0px;
    }

    .menu_icon{
        font-size: 20px;
    }

    .start_page{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 325px;
    }

    h1{
        font-size: 36px;
    }

    .start_text{
        font-size: 20px;
        line-height: 1;
    }

    .start_button {
        width: 200px;
        height: 44px;
        font-size: 18px;
    }

    .arrow_icon {
        padding-top: 35%;
    }

    .container.start {
        height: 895px;
    }

    #features {
        padding-top: 50px;
    }

    h2 {
        font-size: 30px;
    }

    .main_text{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 19px;
    }

    .features_description {
        margin-bottom: 65px;
    }

    .feature_icon_tablet,.feature_icon_lemon,.feature_icon_folder,.feature_icon_envelope,.feature_icon_bookmark{
        font-size: 35px;
    }

    .feature_icon img{
        height: 39px;
    }

    .text_feat_cont{
        padding-left: 30px;
    }

    h3 {
        font-size: 22px;
    }

    .text_features{
        font-size: 16px;
        margin-bottom: 25px;
    }

    .feature_row {
        margin-bottom: 10px;
    }

    #price {
        margin-top: 75px;
    }

    .price_row {
        margin-bottom: 60px;
    }

   
    .trial_item{
        justify-content:center !important;
        margin-bottom: 95px;
    }

    .trial_image{
        height: 90px;
    }

    .price_text{
        line-height: 20px;
        margin-bottom: 20px;
    }

    .price{
        font-size: 28px;
    }

    .period {
        margin-bottom: 15px;
    }

    .price_button {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }

    #works {
        margin-top: 45px;
    }

    .works_cont img{
        height: 130px;
    }

    .type_work{
        font-size: 19px;
        padding-right: 0px;
    }

    .category{
        font-size: 17px;
    }

    #team {
        margin-top: 60px;
    }

    .team_text {
        margin-bottom: 60px;
    }

    .team_cont{
        margin-bottom: 30px;
    }

    .worker_photo img{
        width: 120px;
    }

    .name{
        font-size: 25px;
    }

    .function{
        font-size: 18px;
    }

    .description{
       font-size: 16px; 
    }

    .social-icon{
        font-size: 19px;
    }

    #stats {
        margin-top: 100px;
    }

    .achievement_icons{
        font-size: 40px;
    }

    .amount {
        font-size: 19px;
    }

    .nomin {
        font-size: 14px;
    }

    .achievement_icons{
        height: auto;
    }

    .nomin{
        margin-bottom: 55px;
    }

    .worker_photo_quote img{
        height: 120px;
    }

    .r-quotes{
        justify-content:start ;
    }

    #communication {
        margin-top: 110px;
    }

    .comm_icon {
        font-size: 27px;
    }

    .contact_item {
        font-size: 25px;
    }

    .contact_address {
        font-size: 12px;
    }

    .item_email {
        padding-right: 0px;
    }

    .email_input, .name_input {
        height: 55px;
        width: 100%;
        font-size: 16px;
    }

    .message_text {
        height: 130px;
        width: 100%;
        font-size: 16px;
    }

    .input[type=submit] {
        width: 190px;
        height: 50px;
        font-size: 17px;
    }

    #footer {
        padding-top: 60px;
    }

    form.footer_form>input[type=email] {
        width: 95%;
        margin-left: 14px;
        height: 55px;
        padding-left: 15px;
        font-size: 17px;
    }

    form.footer_form>input[type=submit] {
        width: 160px;
        margin-top: 15px;
        margin-left: 14px;
        height: 50px;
    }

    .footer_form_row {
        margin-bottom: 85px;
    }

    .footer_cont_row {
        font-size: 15px;
        padding-bottom: 73px;
    }

    .footer_item{
        margin-bottom: 15px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    .s-icon{
        font-size: 20px;
    }

    .social_google img{
        height: 20px;
    }

    .logo{
        width: 30px;
        height: 30px;
    }

    .logo_name{
        font-size: 30px;
    }

    .social_networks_icons div:first-child{
        padding-left: 0px;
    }

    .menu_icon{
        font-size: 20px;
    }

    .start_page{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 325px;
    }

    h1{
        font-size: 36px;
    }

    .start_text{
        font-size: 20px;
        line-height: 1;
    }

    .start_button {
        width: 200px;
        height: 44px;
        font-size: 18px;
    }

    .arrow_icon {
        padding-top: 135px;
    }

    .container.start {
        height: 895px;
    }

    #features {
        padding-top: 50px;
    }

    h2 {
        font-size: 30px;
    }

    .main_text{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 19px;
    }

    .features_description {
        margin-bottom: 65px;
    }

    .feature_icon_tablet,.feature_icon_lemon,.feature_icon_folder,.feature_icon_envelope,.feature_icon_bookmark{
        font-size: 35px;
    }

    .feature_icon img{
        height: 39px;
    }

    .text_feat_cont{
        padding-left: 30px;
    }

    h3 {
        font-size: 22px;
    }

    .text_features{
        font-size: 16px;
        margin-bottom: 25px;
    }

    .feature_row {
        margin-bottom: 10px;
    }

    #price {
        margin-top: 75px;
    }

    .price_row {
        margin-bottom: 60px;
    }

   
    .trial_item{
        justify-content:center !important;
        margin-bottom: 95px;
    }

    .trial_image{
        height: 90px;
    }

    .h_price{
        font-size: 22px;
    }

    .price_text{
        line-height: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .price{
        font-size: 26px;
    }

    .period {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .price_button {
        width: 107px;
        height: 36px;
        font-size: 12px;
    }

    #works {
        margin-top: 45px;
    }

    .works_cont img{
        height: 170px;
    }

    .type_work{
        font-size: 20px;
        padding-right: 0px;
    }

    .category{
        font-size: 18px;
    }

    #team {
        margin-top: 60px;
    }

    .team_text {
        margin-bottom: 60px;
    }

    .team_cont{
        margin-bottom: 30px;
    }

    .worker_photo img{
        width: 120px;
    }

    .name{
        font-size: 25px;
    }

    .function{
        font-size: 18px;
    }

    .description{
       font-size: 16px; 
    }

    .social-icon{
        font-size: 19px;
    }

    #stats {
        margin-top: 100px;
    }

    .achievement_icons{
        font-size: 45px;
    }

    .amount {
        font-size: 22px;
    }

    .nomin {
        font-size: 16px;
    }

    .achievement_icons{
        height: auto;
    }

    .nomin{
        margin-bottom: 55px;
    }

    .worker_photo_quote img{
        height: 120px;
    }

    .r-quotes{
        justify-content:start ;
    }

    #communication {
        margin-top: 110px;
    }

    .comm_icon {
        font-size: 27px;
    }

    .contact_item {
        font-size: 25px;
    }

    .contact_address {
        font-size: 12px;
    }

    .item_email {
        padding-right: 0px;
    }

    .email_input, .name_input {
        height: 55px;
        width: 100%;
        font-size: 16px;
    }

    .message_text {
        height: 130px;
        width: 100%;
        font-size: 16px;
    }

    .input[type=submit] {
        width: 190px;
        height: 50px;
        font-size: 17px;
    }

    #footer {
        padding-top: 60px;
    }

    form.footer_form>input[type=email] {
        width: 95%;
        margin-left: 14px;
        height: 55px;
        padding-left: 15px;
        font-size: 17px;
    }

    form.footer_form>input[type=submit] {
        width: 160px;
        margin-top: 15px;
        margin-left: 14px;
        height: 50px;
    }

    .footer_form_row {
        margin-bottom: 85px;
    }

    .footer_cont_row {
        font-size: 15px;
        padding-bottom: 73px;
    }

    .footer_item{
        margin-bottom: 15px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    .s-icon{
        font-size: 25px;
    }

    .social_google img{
        height: 25px;
    }

    .logo{
        width: 35px;
        height: 35px;
    }

    .logo_name{
        font-size: 35px;
    }

    .social_networks_icons div:first-child{
        padding-left: 0px;
    }

    .menu_icon{
        font-size: 25px;
    }

    .start_page{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 325px;
    }

    h1{
        font-size: 36px;
    }

    .start_text{
        font-size: 20px;
        line-height: 1;
    }

    .start_button {
        width: 200px;
        height: 44px;
        font-size: 18px;
    }

    .arrow_icon {
        padding-top: 145px;
    }

    .container.start {
        height: 895px;
    }

    #features {
        padding-top: 50px;
    }

    h2 {
        font-size: 30px;
    }

    .main_text{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 19px;
    }

    .features_description {
        margin-bottom: 65px;
    }

    .feature_icon_tablet,.feature_icon_lemon,.feature_icon_folder,.feature_icon_envelope,.feature_icon_bookmark{
        font-size: 33px;
    }

    .feature_icon img{
        height: 39px;
    }

    .text_feat_cont{
        padding-left: 30px;
    }

    h3 {
        font-size: 20px;
    }

    .text_features{
        font-size: 15px;
        margin-bottom: 25px;
    }

    .feature_row {
        margin-bottom: 10px;
    }

    #price {
        margin-top: 75px;
    }

    .price_row {
        margin-bottom: 60px;
    }

   
    .trial_item{
        justify-content:center !important;
        margin-bottom: 95px;
    }

    .trial_image{
        height: 90px;
    }

    .h_price{
        font-size: 22px;
    }

    .price_text{
        line-height: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .price{
        font-size: 26px;
    }

    .period {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .price_button {
        width: 107px;
        height: 36px;
        font-size: 12px;
    }

    #works {
        margin-top: 45px;
    }

    .works_cont img{
        height: 200px;
    }

    .type_work{
        font-size: 20px;
        padding-right: 0px;
    }

    .category{
        font-size: 18px;
    }

    #team {
        margin-top: 60px;
    }

    .team_text {
        margin-bottom: 60px;
    }

    .team_cont{
        margin-bottom: 45px;
    }

    .worker_photo img{
        width: 120px;
    }

    .name{
        font-size: 25px;
    }

    .function{
        font-size: 18px;
    }

    .description{
       font-size: 16px; 
    }

    .social-icon{
        font-size: 19px;
    }

    #stats {
        margin-top: 100px;
    }

    .achievement_icons{
        font-size: 45px;
    }

    .amount {
        font-size: 22px;
    }

    .nomin {
        font-size: 16px;
    }

    .achievement_icons{
        height: auto;
    }

    .nomin{
        margin-bottom: 55px;
    }

    .worker_photo_quote img{
        height: 120px;
    }

    .r-quotes{
        justify-content:start ;
    }

    #communication {
        margin-top: 110px;
    }

    .comm_icon {
        font-size: 27px;
    }

    .contact_item {
        font-size: 25px;
    }

    .contact_address {
        font-size: 12px;
    }

    .item_email {
        padding-right: 0px;
    }

    .email_input, .name_input {
        height: 55px;
        width: 510px;
        font-size: 16px;
    }

    .message_text {
        height: 130px;
        width: 510px;
        font-size: 16px;
    }

    .input[type=submit] {
        width: 190px;
        height: 50px;
        font-size: 17px;
    }

    #footer {
        padding-top: 60px;
    }

    form.footer_form>input[type=email] {
        width: 510px;
        margin-left: 14px;
        height: 55px;
        padding-left: 15px;
        font-size: 17px;
    }

    form.footer_form>input[type=submit] {
        width: 160px;
        margin-top: 15px;
        margin-left: 14px;
        height: 55px;
    }

    .footer_form_row {
        margin-bottom: 85px;
    }

    .footer_cont_row {
        font-size: 15px;
        padding-bottom: 73px;
    }

    .footer_item{
        margin-bottom: 15px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {

    .start_page{
        padding-left: 0px;
        padding-right: 0px;
    }

    .works_cont img{
        height: 200px;
    }
}